html
	head
	title Camera Scrape Item
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous", rel='stylesheet')
	//-link(href="/scripts/game_base.less", rel="stylesheet")
	//- link(href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.6/css/tabulator.min.css" rel="stylesheet")


	body
		h1 #{title}
		div.return #[a(href="/items") Return to item list]
		table.itemTable
			each item in items
				tr
					td $#{item.price_dollars}
					td #{item.price_diff}%
					td #[a(href="#{item.link}" target="_blank") #{item.title}]
					td #{item.date_pub}
					td #{item.date_sold}
					td #{item.days_on_market}
				//- li #[a(href="/items/#{item.id}") #{item.brand} #{item.name}]
			//-= val //.name
			//- div#listing-table


script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
//-script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.6/js/tabulator.min.js")
//- script(src="/scripts/soldview.js")